body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
.maindiv {
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    margin: auto;
    
}
label{
    display: inline-block;
    clear: left;
    width: 100px;
    text-align: left;
}
input {
  display: inline-block;
}
.highlight{
    background-color: yellow;
}